<section id="portfolio" class="section-padding wow fadeInUp delay-05s">
  <div class="col-md-9">
    {% for habitacion in habitaciones %}
      <div class="container">
        <div class="row">
          <div class="col-md-9">
            <center><h1><span class="deco">{{habitacion.name}}</span></h1></center>
            <br><br>
          </div>
        </div>
        <div class="row">
          {% for habitaciondeta in habitacion.deta %}
                  <div class="col-md-9">
                    {% if loop.first %}
                    <div class="row">
                    <div>
                      <div class="contenedor" style="width: 90%">
                        <a href="#{{habitaciondeta.id}}" class="col-md-6" onclick="(function(){
                          document..header
                        })">
                          <span class="glyphicon glyphicon-zoom-in icon-zoom"></span>
                          <img src="{{habitaciondeta.image}}" itemprop="thumbnail" alt="Image description" class="img-responsive" />
                        </a>
                      </div>
                    <div class="col-md-6" >
                      <h2>Descripción</h2>
                      <justify>
                        {{habitaciondeta.contenthtml}}
                        <h6> Clic en la imagen </h6>
                      </justify>
                    </div>
                    </div>

                    </div>
                    {% endif %}
                  </div>
          {% endfor %}
        </div>
        <!--div id="{{loop.index}}" class="modal">
            <span class="close cursor" onclick="closeModal()">&times;</span>
            <div class="modal-content">
              {% for habitaciondeta in habitacion.deta %}
                <div class="mySlides">
                  <img src="{{habitaciondeta.image}}" style="width:100%">
                </div>

                <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                <a class="next" onclick="plusSlides(1)">&#10095;</a>

                <div class="caption-container">
                  <p id="caption"></p>
                </div>

                <div class="column">
                  <img class="demo" src="{{habitaciondeta.image}}" onclick="currentSlide(1)" alt="Nature">
                </div>
              {% endfor %}
            </div>
        </div>-->
        <br><br>
      </div>
    {% endfor %}
  </div>
</section>
{% for habitacion in habitaciones %}
    {% for habitaciondeta in habitacion.deta %}
    {% set i = habitaciondeta.id %}
      <div class="modal" id="{{habitaciondeta.id}}" >
        <a class="cerrar" href="#portfolio">X</a>
        <div class="imagen">
          {% if loop.first %}
              <a class="prev" href="#{{i}}">&#10094;</a>
          {% else %}
              <a class="prev" href="#{{i-1}}">&#10094;</a>
          {% endif %}
          <a href="#"><img src="{{habitaciondeta.image}}"></a>
          {% if loop.last %}
              <a class="next" href="#{{i}}">&#10095;</a>
          {% else %}
              <a class="next" href="#{{i+1}}">&#10095;</a>
          {% endif %}
        </div>
      </div>
    {% set i = 0 %}
    {% endfor %}
{% endfor %}
<!--Modal Galeria-->
<!--Modal Galeria-->
