{% if articles|length > 0 %}
    <div style="display:inline-block" class="block-1 {{ current_page.idDisplayType.cssClass }}">
        {% for article in articles %}
            <div class="col-sm-9 col-lg-9 col-md-12 article article-simple" style="height:400px;">
                <div class="col-sm-12 col-lg-12 col-md-12 {#box-noticia#}" >

                    <h4 class="text-center"><a href="{{ path('view_article_generic',{'id_article' : article.id }) }}">{{ article.name }}</a>
                    <!--<div class="col-sm-2 col-lg-2 col-md-2">-->
                    </h4>
                        <img class="img-responsive center-block" src="{{ article.imageMain }}" alt="" width="30%">
                    <!--</div>-->
                    <center><p>{{ article.description }}</p></center>
                    <center><a class="btn btn-primary" href="{{ path('view_article_generic',{'id_article' : article.id }) }}">Ver más</a></center>
                </div>
            </div>
        {% endfor %}
    </div>
{% else %}
    <h2>No hay Articulos </h2>
{% endif %}
