{% if articles|length > 0 %}
    <div class="block-1 {{ current_page.idDisplayType.cssClass }}">
        {% for article in articles %}
            <div class="col-sm-3 col-lg-3 col-md-3 article article-simple">
                <div class="col-sm-12 col-lg-12 col-md-12 {#box-noticia#}">

                    <h4 class="text-center"><a href="{{ path('view_article_generic',{'id_article' : article.id }) }}">{{ article.name }}</a>
                    <!--<div class="col-sm-2 col-lg-2 col-md-2">-->
                        <img class="img-responsive center-block" src="{{ article.imageMain }}" alt="" width="50%">
                    <!--</div>-->
                    </h4>
                    <center><p>{{ article.description }}</p></center>
                    <center><a class="btn btn-primary" href="{{ path('view_article_generic',{'id_article' : article.id }) }}">Ver más</a></center>
                </div>
            </div>
        {% endfor %}
    </div>
{% else %}
    <h2>No hay Articulos </h2>
{% endif %}
