  <section id="about" class="section-padding wow fadeIn delay-05s">
    <div class="container-fluid">
      <div class="row">
        <center><h1><br><span class="deco">{{ articles.name }}</span></h1></center>
        <div class="col-md-12 text-justify">
          <div class="about-text">
            <p class="text-faded">{{ articles.contentHTML|raw }}</p>
            <img class="img-responsive center-block" src="{{ articles.imageMain }}" alt="">
          </div>
        </div>
      </div>
    </div>
  </section>
<!--<div class="col-lg-12">
    <h1 class="text-center text-primary">{{ articles.name }}</h1>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <div class="container-content-html-tinymce">
        <p class="text-faded">{{ articles.contentHTML|raw }}</p>
    </div>
    <p>&nbsp;</p>
    <p class="text-primary"><span class="glyphicon glyphicon-time"></span> Posteado en {{ articles.dateCreation|date("F jS \\a\\t g:ia","America/Bogota")}}</p>
    <p class="text-primary">
        Por <a class="text-primary" href="#">{{ articles.creatorUser }}</a>
    </p>
</div>-->