<!DOCTYPE html>
<html lang="en">
<head>
    <title>Pagina no Encontrada</title>
    <meta charset="utf-8">
    <link href="{{ asset('themes/pw_col_1/css/bootstrap.css') }}" rel="stylesheet" type="text/css" media="all" />
    <link rel="stylesheet" type="text/css" media="screen" href="{{ asset('themes/pw_col_1/css/reset.css') }}">
    <link rel="stylesheet" type="text/css" media="screen" href="{{ asset('themes/pw_col_1/css/style.css') }}">
    <link rel="stylesheet" type="text/css" media="screen" href="{{ asset('themes/pw_col_1/css/grid_12.css') }}">
    <link rel="stylesheet" type="text/css" media="screen" href="{{ asset('themes/pw_col_1/css/slider.css') }}">
    <link href='http://fonts.googleapis.com/css?family=Cabin+Sketch:400,700' rel='stylesheet' type='text/css'>

    <script src="{{ asset('themes/pw_col_1/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('themes/pw_col_1/js/jquery-1.7.min.js') }}"></script>
    <script src="{{ asset('themes/pw_col_1/js/jquery.easing.1.3.js') }}"></script>
    <script src="{{ asset('themes/pw_col_1/js/tms-0.4.1.js') }}"></script>

</head>
<body>
  <div class="main">

  <div class="container">
        <div class="row">
            <section id="content"><div class="ic"></div>
                <div class="container_12">
                      <img class="img-responsive error404" src="images/error1.png" alt="">
                </div>
            </section>
        </div>
    </div>

   </div>
</body>
</html>






<body>

  <div class="main">

  <div class="container">
        <div class="row">
            <section id="content"><div class="ic"></div>
                <div class="container_12">
                      <img class="img-responsive error404" src="images/error1.png" alt="">
                </div>
            </section>
        </div>
    </div>

   </div>

    <!--<div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="error-template">
                    <h1>
                        Oops!</h1>
                    <h2>
                        404 Recurso No Encontrado</h2>
                    <div class="error-details">
                        Disculpe, ha ocurrido un error, No se encontro la pagina solicitada!
                    </div>
                    <div class="error-actions">
                        <a href="{{ path('homepage') }}" class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-home"></span>
                            Ir a la pagina Principal </a>
                        <a href="#" class="btn btn-default btn-lg"><span class="glyphicon glyphicon-envelope"></span> Contactarnos </a>
                    </div>
                </div>
            </div>
        </div>
    </div>-->
</body>
