{% extends 'base.html.twig' %}

{% block body %}
    <h1>Listado Estados de Publicacion</h1>

    <table class="table" id="CMSstzef_list">
        <thead>
            <tr>
                <th>Name</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for cmsStzefStatesPublication in cmsStzefStatesPublications %}
            <tr>
                <td><a href="{{ path('admstzef_states_publication_show', { 'id': cmsStzefStatesPublication.id }) }}">{{ cmsStzefStatesPublication.name }}</a></td>
                <td>
                    <ul class="list-unstyled">
                        <!--<li>
                            <a class="btn btn-" role="button" href="{{ path('admstzef_states_publication_show', { 'id': cmsStzefStatesPublication.id }) }}">show</a>
                        </li>-->
                        <li>
                            <a class="btn btn-" role="button" href="{{ path('admstzef_states_publication_edit', { 'id': cmsStzefStatesPublication.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul class="list-unstyled">
        <li>
            <a class="btn btn-success" role="button" href="{{ path('admstzef_states_publication_new') }}">Nuevo Estado de Publicación</a>
        </li>
    </ul>
{% endblock %}
