{% extends 'base.html.twig' %}

{% block body %}
    <h1>Listado Paginas</h1>

    <table class="table" id="CMSstzef_list">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Principal</th>
                <th>Creado por</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for cmsStzefPage in cmsStzefPages %}
            <tr>
                <td><a href="{{ path('admstzef_pages_show', { 'id': cmsStzefPage.id }) }}">{{ cmsStzefPage.name }}</a></td>
                <td>{% if cmsStzefPage.ifMain %}Yes{% else %}No{% endif %}</td>
                <td>{{ cmsStzefPage.creatorUser.username }}</td>
                <td>
                    <ul class="list-unstyled">
                        <!--<li>
                            <a class="btn btn-" role="button" href="{{ path('admstzef_pages_show', { 'id': cmsStzefPage.id }) }}">Mostar</a>
                        </li>-->
                        <li>
                            <a class="btn btn-" role="button" href="{{ path('admstzef_pages_edit', { 'id': cmsStzefPage.id }) }}">Editar</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul class="list-unstyled">
        <li>
            <a class="btn btn-success" role="button" href="{{ path('admstzef_pages_new') }}">Nuevo Pagina</a>
        </li>
    </ul>
{% endblock %}
