 
{% extends 'base.html.twig' %}

{% block body %}
    <h1>Cmsstzefpage</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Slug</th>
                <td>{{ cmsStzefPage.slug }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ cmsStzefPage.name }}</td>
            </tr>
            <tr>
                <th>Ifmain</th>
                <td>{% if cmsStzefPage.ifMain %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Datecreation</th>
                <td>{% if cmsStzefPage.dateCreation %}{{ cmsStzefPage.dateCreation|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Modified</th>
                <td>{% if cmsStzefPage.modified %}{{ cmsStzefPage.modified|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Params</th>
                <td>{{ cmsStzefPage.params }}</td>
            </tr>
            <tr>
                <th>Id</th>
                <td>{{ cmsStzefPage.id }}</td>
            </tr>
        </tbody>
    </table>

    <ul class="list-unstyled" >
        <li>
            <a class="btn btn-primary" role="button" href="{{ path('admstzef_pages_index') }}">Listado</a>
        </li>
        <li>
            <a class="btn btn-info" role="button" href="{{ path('admstzef_pages_edit', { 'id': cmsStzefPage.id }) }}">Editar</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" class="btn btn-danger" value="Borrar">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
