{% extends 'base.html.twig' %}

{% block body %}
    <h1>Cmsstzefcontracts list</h1>

    <table>
        <thead>
            <tr>
                <th>Proccess</th>
                <th>Description</th>
                <th>Path</th>
                <th>Dateapertura</th>
                <th>Dateaclaracion</th>
                <th>Datecierre</th>
                <th>Dateadjudicion</th>
                <th>Id</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for cmsStzefContract in cmsStzefContracts %}
            <tr>
                <td><a href="{{ path('admstzef_contracts_show', { 'id': cmsStzefContract.id }) }}">{{ cmsStzefContract.proccess }}</a></td>
                <td>{{ cmsStzefContract.description }}</td>
                <td>{{ cmsStzefContract.path }}</td>
                <td>{% if cmsStzefContract.dateApertura %}{{ cmsStzefContract.dateApertura|date('Y-m-d') }}{% endif %}</td>
                <td>{% if cmsStzefContract.dateAclaracion %}{{ cmsStzefContract.dateAclaracion|date('Y-m-d') }}{% endif %}</td>
                <td>{% if cmsStzefContract.dateCierre %}{{ cmsStzefContract.dateCierre|date('Y-m-d') }}{% endif %}</td>
                <td>{% if cmsStzefContract.dateAdjudicion %}{{ cmsStzefContract.dateAdjudicion|date('Y-m-d') }}{% endif %}</td>
                <td>{{ cmsStzefContract.id }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('admstzef_contracts_show', { 'id': cmsStzefContract.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('admstzef_contracts_edit', { 'id': cmsStzefContract.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admstzef_contracts_new') }}">Create a new cmsStzefContract</a>
        </li>
    </ul>
{% endblock %}
