{% extends 'base.html.twig' %}

{% block body %}
    <h1>Contrato Nuevo</h1>

    <table>
        <tbody>
            <tr>
                <th>Proceso</th>
                <td>{{ cmsStzefContract.proccess }}</td>
            </tr>
            <tr>
                <th>Descripcion</th>
                <td>{{ cmsStzefContract.description }}</td>
            </tr>
            <tr>
                <th>Archivo</th>
                <td>{{ cmsStzefContract.path }}</td>
            </tr>
            <tr>
                <th>Dateapertura</th>
                <td>{% if cmsStzefContract.dateApertura %}{{ cmsStzefContract.dateApertura|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Dateaclaracion</th>
                <td>{% if cmsStzefContract.dateAclaracion %}{{ cmsStzefContract.dateAclaracion|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Datecierre</th>
                <td>{% if cmsStzefContract.dateCierre %}{{ cmsStzefContract.dateCierre|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Dateadjudicion</th>
                <td>{% if cmsStzefContract.dateAdjudicion %}{{ cmsStzefContract.dateAdjudicion|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Id</th>
                <td>{{ cmsStzefContract.id }}</td>
            </tr>
        </tbody>
    </table>
    <ul class="list-unstyled" >
        <li>
            <a class="btn btn-primary" role="button" href="{{ path('admstzef_contracts_index') }}">Listado</a>
        </li>
        <li>
            <a class="btn btn-info" role="button" href="{{ path('admstzef_contracts_edit', { 'id': cmsStzefContract.id }) }}">Editar</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" class="btn btn-danger" value="Borrar">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
