{% extends 'themes/' ~ theme.slug ~ '/template.html.twig' %}

{% block title %} Articulo - {{ current_article.name }}{% endblock %}
{% block stylesheets %}{% endblock %}

{% block body %}
	<div class="container">
	    <div class="row">
			<div class="col-lg-12">
			    <h1 class="text-center text-primary">{{ current_article.name }}</h1>
			    <p>&nbsp;</p>
			    <img class="img-responsive center-block" src="{{ current_article.imageMain }}" alt="">
			    <p>&nbsp;</p>
			    <div class="container-content-html-tinymce">
			        <p class="text-faded">{{ current_article.contentHTML|raw }}</p>
			    </div>
			    <p>&nbsp;</p>
			    <p class="text-primary"><span class="glyphicon glyphicon-time"></span> Posteado en {{ current_article.dateCreation|date("F jS \\a\\t g:ia","America/Bogota")}}</p>
			    <p class="text-primary">
			        Por <a class="text-primary" href="#">{{ current_article.creatorUser }}</a>
			    </p>
			</div>
		</div>
	</div>     
{% endblock %}

