<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title> {{ parameters.name_site }} - {% block title %} {% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="generator" content="Codeply">
    <link rel="stylesheet" href="{{ asset('themes/' ~ theme.slug ~ '/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('themes/' ~ theme.slug ~ '/css/animate.min.css') }}">
    <link rel="stylesheet" href="{{ asset('themes/' ~ theme.slug ~ '/css/styles.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('themes/' ~ theme.slug ~ '/css/demo.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('themes/' ~ theme.slug ~ '/css/elastislide.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('themes/' ~ theme.slug ~ '/css/custom.css') }}">
    <script src="{{ asset('themes/' ~ theme.slug ~ '/js/modernizr.custom.17475.js') }}"></script>
    <link rel="icon" type="image/x-icon" href="{{ asset(parameters.favicon_site) }}" />
    <!--<link rel="stylesheet" href="./css/bootstrap.min.css" />
    <link rel="stylesheet" href="./css/animate.min.css" />
    <link rel="stylesheet" href="./css/ionicons.min.css" />
    <link rel="stylesheet" href="./css/styles.css" />
    <link rel="stylesheet" type="text/css" href="css/demo.css" />
    <link rel="stylesheet" type="text/css" href="css/elastislide.css" />
    <link rel="stylesheet" type="text/css" href="css/custom.css" />
    <script src="js/modernizr.custom.17475.js"></script>
    <link rel="icon" type="image/png" href="assets/Lo.png" />-->
    {% block stylesheets %}{% endblock %}
  </head>
  <body>
    <nav id="topNav" class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
    <div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-navbar"> 
    <span class="sr-only">Toggle navigation</span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    </button>

    <a class="navbar-brand page-scroll" href="#first"> <img src="{{ asset(parameters.logo_site) }}"   alt=""/> </a>

    </div>

    <div class="navbar-collapse collapse" id="bs-navbar">
    <ul class="nav navbar-nav">
    {% for itemMenu in cmsStzefMenuses %}
        {% if itemMenu.subMenus|length == 0 %}
            <li><a class="page-scroll" href="{{ path('page_generic',{'slug_page' : itemMenu.page.slug }) }} "><b>{{ itemMenu.name }}</b></a></li>
        {% else %}
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><b>{{ itemMenu.name }}</b> <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                    {% for itemSubMenu in itemMenu.subMenus %}
                        {% if itemSubMenu.subMenus|length == 0 %}
                            <li><a href="{{ path('page_generic',{'slug_page' : itemSubMenu.page.slug }) }} "><b>{{ itemSubMenu.name }}</b></a></li>
                            {% else %}
                            <li class="dropdown-submenu">
                            <a tabindex="-1" href="#"><b>{{ itemSubMenu.name }}</b><span class="caret"></span></a>
                            <ul class="dropdown-menu">
                            {% for itemSubMenu2 in itemSubMenu.subMenus %}
                            <li><a tabindex="-1" href="{{ path('page_generic',{'slug_page' : itemSubMenu2.page.slug }) }} "><b>{{ itemSubMenu2.name }}</b></a></li>
                            {% endfor %}
                            </ul>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </li>
        {% endif %}
    {% endfor %}    
    </ul>
    <ul class="nav navbar-nav navbar-right">
    <li>
        <a class="page-scroll" data-toggle="modal" title="" href="#aboutModal"></a>
    </li>
    </ul>
    </div>
    </div>      
    </nav>
    <header id="first">
        {% if main_banner is defined %}
            <div id="myCarousel" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#myCarousel" data-slide-to="1"></li>
                    <li data-target="#myCarousel" data-slide-to="2"></li>
                </ol>
                <!-- Wrapper for slides -->
                <div class="carousel-inner">
                   {% for image in main_banner.deta %}
                        
                        <div class="item {% if loop.first %} active {% endif %} ">
                            <img src="{{ image.image }}" alt="">
                        </div>  
                    {% endfor %}
                    <!--<div class="item">
                        <img src="assets/ocho.jpg" alt="">
                    </div>

                    <div class="item">
                        <img src="assets/seis.jpg" alt="">
                    </div>-->
                </div>
                <!-- Left and right controls -->
                <a class="left carousel-control" href="#myCarousel" data-slide="prev">

                </a>
                <a class="right carousel-control" href="#myCarousel" data-slide="next">

                </a>
            </div>
        {% endif %}
    </header>
    <!-- Sections -->
    
    <template>
        {% if sectionsTheme is defined %}
            {% for sectionTheme in sectionsTheme %}
                <section data-to-section="{{ sectionTheme.selectorCss }}" >
                    {% for modulo in sectionTheme.modulos %}
                        <div>
                            {{ modulo.renderContentHtml|raw }}
                        </div>
                    {% endfor %}
                </section>
            {% endfor %}
        {% endif %}
    </template>

    <!-- Sections -->
    <section class="">
        <div class="container-fluid">
            {% if articles is defined %}
                {% if current_page.idTypePage.id == 1 %}
                    {% include 'themes/' ~ theme.slug ~ '/partials/type_pages/1_for_category.html.twig' with {'articles': articles,'current_page': current_page} %}
                {% elseif current_page.idTypePage.id == 2 %}
                    {% include 'themes/' ~ theme.slug ~ '/partials/type_pages/2_one_article.html.twig' with {'articles': articles,'current_page': current_page} %}
                {% elseif current_page.idTypePage.id == 4 %}
                    {% include 'themes/' ~ theme.slug ~ '/partials/type_pages/4_gallery.html.twig' %}
                {% elseif current_page.idTypePage.id == 5 %}
                    {% include 'themes/' ~ theme.slug ~ '/partials/type_pages/5_form_contact.html.twig' %}
                {% elseif current_page.idTypePage.id == 9 %}
                    {% include 'themes/' ~ theme.slug ~ '/partials/type_pages/9_brands.html.twig' %}
                {% elseif current_page.idTypePage.id == 10 %}
                    {% include 'themes/' ~ theme.slug ~ '/partials/type_pages/10_proyects.html.twig' %}
                {% endif %}
            {% endif %}
            {% block body %}
            {% endblock %}
        </div>
    </section>
    <footer>
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-4 col-xs-6 column">
                    <ul class="list-inline">
                        <li>
                            <h4 class="text-center">Visitas:{% for number in parameters.number_visit|split('') %} <span class="label label-default">{{number}}</span> {% endfor %}</h4>
                            {% if app.user %}
                            <a role="button" class="btn btn-primary" href="{{ path('homepage_admin') }}">Ir a Administracion</a>
                            <a role="button" class="btn btn-danger"  href="{{ path('fos_user_security_logout') }}"> Salir </a>
                            {% else %}
                            <a role="button" class="btn btn-success" href="{{ path('fos_user_security_login') }}"> Iniciar Sesión</a>
                            {# <a role="button" class="btn btn-info" href="{{ path('fos_user_registration_register') }}"> Registrarse </a> #}
                            {% endif %}
                        </li>
                    </ul>
                </div>
                <div id="section_theme_footer_a"></div>
                <div id="section_theme_social_network"></div>
            </div>  
            <br/>
            {% if parameters.design_developed %}
                <span class="pull-right text-muted small">{{parameters.design_developed.name}}</span>
            {% endif %}
        </div>
    </footer>



    <div id="galleryModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body">
                <img src="" id="galleryImage" class="img-responsive" />
                <p>
                    <br/>
                    <button class="btn btn-primary btn-lg center-block" data-dismiss="modal" aria-hidden="true">Close <i class="ion-android-close"></i></button>
                </p>
            </div>
        </div>
        </div>
    </div>
  
    <!--scripts loaded here -->
    <script src="{{ asset('js/polyfill-foreach.js') }}"></script>
    <script src="{{ asset('themes/' ~ theme.slug ~ '/js/jquery.min.js') }}"></script>
    <script src="{{ asset('themes/' ~ theme.slug ~ '/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('themes/' ~ theme.slug ~ '/js/jquery.easing.min.js') }}"></script>
    <script src="{{ asset('themes/' ~ theme.slug ~ '/js/wow.js') }}"></script>
    <script src="{{ asset('themes/' ~ theme.slug ~ '/js/scripts.js') }}"></script>
    <script src="{{ asset('themes/' ~ theme.slug ~ '/js/jquerypp.custom.js') }}"></script>
    <script src="{{ asset('themes/' ~ theme.slug ~ '/js/jquery.elastislide.js') }}"></script>
    <!--<script src="js/jquerypp.custom.js"></script>
    <script src="js/jquery.elastislide.js"></script>
    <script src="./js/jquery.min.js"></script>
    <script src="./js/bootstrap.min.js"></script>
    <script src="./js/jquery.easing.min.js"></script>
    <script src="./js/wow.js"></script>
    <script src="./js/scripts.js"></script>-->
    <script type="text/javascript">

        var template = $("template")[0]
        var clone_template = template.content.cloneNode(true)
        var section = Array.prototype.slice.call(clone_template.querySelectorAll("[data-to-section]"))
        section.forEach(section => {
            console.log(section)
            var selector = "#" + $(section).data("to-section")
            $(selector).html($(section).html())
        })
    </script>
    <script type="text/javascript">
        // example how to integrate with a previewer

        var current = 0,
            $preview = $( '#preview' ),
            $carouselEl = $( '#carousel' ),
            $carouselItems = $carouselEl.children(),
            carousel = $carouselEl.elastislide( {
                current : current,
                minItems : 4,
                onClick : function( el, pos, evt ) {

                    changeImage( el, pos );
                    evt.preventDefault();

                },
                onReady : function() {

                    changeImage( $carouselItems.eq( current ), current );
                    
                }
            } );

        function changeImage( el, pos ) {

            $preview.attr( 'src', el.data( 'preview' ) );
            $carouselItems.removeClass( 'current-img' );
            el.addClass( 'current-img' );
            carousel.setCurrent( pos );

        }
    </script>
  </body>
</html>