<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% block title %}CMS SistematizarEF{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

    <!-- Bootstrap 3.3.6 -->
    <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}" />

    <link rel="stylesheet" href="{{ asset('css/select2/select2.min.css') }}" />

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">

    <!-- Ionicons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">

    <!-- Theme style -->
    <link rel="stylesheet" href="{{ asset('css/template/AdminLTE.min.css') }}" />

    <!-- AdminLTE Skins. Choose a skin from the css/skins  -  folder instead of downloading all of them to reduce the load. -->
    <link rel="stylesheet" href="{{ asset('css/template/skins/_all-skins.min.css') }}">

    <link rel="icon" type="image/x-icon" href="{#{{ asset(parameters.favicon_site) }}}#}" />

    <link rel="stylesheet" href="{{ asset('css/data_table/jquery.dataTables.min.css')}}">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- jQuery 2.2.3 -->
    <script src="{{ asset('js/jquery-3.1.1.min.js') }}"></script>

  </head>
  <body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">

      <header class="main-header">
        <!-- Logo -->
        <a href="{{ path('homepage_admin') }}" class="logo">
          <!-- mini logo for sidebar mini 50x50 pixels -->
          <span class="logo-mini">CMS</span>
          <!-- logo for regular state and mobile devices -->
          <span class="logo-lg">CMS SistematizarEF</span>
        </a>
        <!-- Header Navbar: style can be found in header.less -->
        <nav class="navbar navbar-static-top">
          <!-- Sidebar toggle button-->
          <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
            <span class="sr-only">Toggle navigation</span>
          </a>

          <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
              <!-- Messages: style can be found in dropdown.less-->
              <!--<li class="dropdown messages-menu">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  <i class="fa fa-envelope-o"></i>
                  <span class="label label-success">4</span>
                </a>
                <ul class="dropdown-menu">
                  <li class="header">Mensajes</li>
                  <li>
                    <ul class="menu">
                      <li>
                      </li>
                    </ul>
                  </li>
                  <li class="footer"><a href="#">Ver Todos Los Mensajes</a></li>
                </ul>
              </li>-->
              <!-- Tasks: style can be found in dropdown.less -->
              <!--<li class="dropdown tasks-menu">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  <i class="fa fa-flag-o"></i>
                  <span class="label label-danger">9</span>
                </a>
                <ul class="dropdown-menu">
                  <li class="header">Notificaciones</li>
                  <li>
                    <ul class="menu">
                      <li>
                      </li>
                    </ul>
                  </li>
                  <li class="footer">
                    <a href="#">Ver Todas la Notificaciones</a>
                  </li>
                </ul>
              </li>-->
              <!-- User Account: style can be found in dropdown.less -->
              <li class="dropdown user user-menu">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  <img src="{% if app.user %} {{ app.user.photo }} {% endif %}" class="user-image" alt="User Image">
                  <span class="hidden-xs">{% if app.user %} {{ app.user.username }} {% endif %}</span>
                </a>
                <ul class="dropdown-menu">
                  <!-- User image -->
                  <li class="user-header">
                    <img src="{% if app.user %} {{ app.user.photo }} {% endif %}" class="img-circle" alt="User Image">

                    <p>
                      {% if app.user %} {{ app.user.username }} {% endif %}
                    </p>
                  </li>
                  <!-- Menu Footer-->
                  <li class="user-footer">
                    <div class="pull-left">
                      <a href="{{ path('fos_user_profile_show') }}" class="btn btn-default btn-flat">Perfil</a>
                    </div>
                    <div class="pull-right">
                      <a href="{{ path('fos_user_security_logout') }}" class="btn btn-default btn-flat">Salir</a>
                    </div>
                  </li>
                </ul>
              </li>
              <!-- Control Sidebar Toggle Button -->
              <li>
                <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
              </li>
            </ul>
          </div>
        </nav>
      </header>
      <!-- Left side column. contains the logo and sidebar -->
      <aside class="main-sidebar">
        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar">
          <!-- Sidebar user panel -->
          <div class="user-panel">
            <div class="pull-left image">
              <img src="{% if app.user %} {{ app.user.photo }} {% endif %}" class="img-circle" alt="User Image">
            </div>
            <div class="pull-left info">
              <p>{% if app.user %} {{ app.user.username }} {% endif %}</p>
              <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
            </div>
          </div>

          <!-- sidebar menu: : style can be found in sidebar.less -->
          <ul class="sidebar-menu">
            <li class="header"><b>MENU</b></li>

            <li class="treeview">
              <a href="#">
                <i class="fa fa-file-text"></i> <span>Articulos</span>
                <span class="pull-right-container">
                  <i class="fa fa-angle-left pull-right"></i>
                </span>
              </a>
              <ul class="treeview-menu">
                <li class=""><a href="{{ path('admstzef_articles_index') }}"><i class="fa fa-file-text"></i> Articulos</a></li>
                <li class=""><a href="{{ path('admstzef_categories_index') }}"><i class="fa fa-list"></i> Categorias</a></li>
              </ul>
            </li>

            <li class="treeview">
              <a href="#">
                <i class="fa fa-bars"></i> <span>Menu</span>
                <span class="pull-right-container">
                  <i class="fa fa-angle-left pull-right"></i>
                </span>
              </a>
              <ul class="treeview-menu">
                <li class=""><a href="{{ path('admstzef_menus_index') }}"><i class="fa fa-bars"></i> Menu</a></li>
              </ul>
            </li>
            <li class="treeview">
              <a href="#">
                <i class="fa fa-file-o"></i> <span>Paginas</span>
                <span class="pull-right-container">
                  <i class="fa fa-angle-left pull-right"></i>
                </span>
              </a>
              <ul class="treeview-menu">
                <li class=""><a href="{{ path('admstzef_pages_index') }}"><i class="fa fa-file-o"></i> Paginas</a></li>
                <!--<li class=""><a href="{{ path('admstzef_types_pages_index') }}"><i class="fa fa-circle-o"></i> Tipos de Paginas</a></li>-->
              </ul>
            </li>
            <!--<li class="treeview">
              <a href="#">
                <i class="fa fa-dashboard"></i> <span>Temas</span>
                <span class="pull-right-container">
                  <i class="fa fa-angle-left pull-right"></i>
                </span>
              </a>
              <ul class="treeview-menu">
                <li class=""><a href="{{ path('admstzef_themes_index') }}"><i class="fa fa-circle-o"></i> Temas </a></li>
                <li class=""><a href="{{ path('admstzef_sections_index') }}"><i class="fa fa-circle-o"></i> Secciones </a></li>
                <li class=""><a href="{{ path('admstzef_sections_theme_index') }}"><i class="fa fa-circle-o"></i> Secciones de Temas</a></li>
              </ul>
            </li>-->
            <!--<li class="treeview">
              <a href="#">
                <i class="fa fa-dashboard"></i> <span>Generales</span>
                <span class="pull-right-container">
                  <i class="fa fa-angle-left pull-right"></i>
                </span>
              </a>
              <ul class="treeview-menu">
                <li class=""><a href="{{ path('admstzef_states_publication_index') }}"><i class="fa fa-circle-o"></i> Estados de Publicación </a></li>
              </ul>
            </li>-->
            <li class="treeview">
              <a href="#">
                <i class="fa fa-users"></i> <span>Usuarios</span>
                <span class="pull-right-container">
                  <i class="fa fa-angle-left pull-right"></i>
                </span>
              </a>
              <ul class="treeview-menu">
                <li class=""><a href="{{ path('admstzef_users_index') }}"><i class="fa fa-users"></i> Usuarios </a></li>
                <li class=""><a href="{{ path('fos_user_registration_register') }}"><i class="fa fa-user-plus"></i> Registrar </a></li>
              </ul>
            </li>
            <!--<li class="treeview">
              <a href="#">
                <i class="fa fa-archive"></i> <span>Modulos</span>
                <span class="pull-right-container">
                  <i class="fa fa-angle-left pull-right"></i>
                </span>
              </a>
              <ul class="treeview-menu">
                <li class=""><a href="{{ path('admstzef_modules_index') }}"><i class="fa fa-archive"></i> Modulos </a></li>
                {#<li class=""><a href="{{ path('admstzef_types_modules_index') }}"><i class="fa fa-circle-o"></i> Tipos de Modulos</a></li>#}
              </ul>
            </li>-->
            <li class="treeview">
              <a href="#">
                <i class="fa fa-folder-open"></i> <span>Galerias</span>
                <span class="pull-right-container">
                  <i class="fa fa-angle-left pull-right"></i>
                </span>
              </a>
              <ul class="treeview-menu">
                <li class=""><a href="{{ path('admstzef_banners_index') }}"><i class="fa fa-folder-open"></i> Galerias </a></li>
                <li class=""><a href="{{ path('admstzef_banner_deta_index') }}"><i class="fa fa-image"></i> Imagenes </a></li>
              </ul>
            </li>
            <!--<li class="treeview">
              <a href="#">
                <i class="fa fa-cog"></i> <span>Configuracion</span>
                <span class="pull-right-container">
                  <i class="fa fa-angle-left pull-right"></i>
                </span>
              </a>
              <ul class="treeview-menu">
                <li class=""><a href="{{ path('admstzef_parameters_index') }}"><i class="fa fa-cog"></i> Parametros</a></li>
              </ul>
            </li>-->
            <li class="treeview">
              <a href="{{path('homepage')}}" target="_blank">
                <i class="fa fa-link"></i> <span>Ver la Pagina</span>
              </a>
            </li>
            <li class="treeview">
              <a href="{{ path('fos_user_security_logout') }}">
                <i class="fa fa-sign-out"></i> <span>Salir</span>
              </a>
            </li>
          </ul>
        </section>
        <!-- /.sidebar -->
      </aside>

      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
        <!-- Main content -->
        <section class="content">
                {% block body %}{% endblock %}
        </section>
        <!-- /.content -->
      </div>
      <!-- /.content-wrapper -->
      <footer class="main-footer">
        <strong>Copyright &copy; <a href="http://sistematizar.co">SistematizarEF</a>.</strong>
      </footer>

      <!-- Control Sidebar -->
      <aside class="control-sidebar control-sidebar-dark">
        <!-- Create the tabs -->
        <ul class="nav nav-tabs nav-justified control-sidebar-tabs">
          <li><a href="#control-sidebar-home-tab" data-toggle="tab"><i class="fa fa-home"></i></a></li>
          <li><a href="#control-sidebar-settings-tab" data-toggle="tab"><i class="fa fa-gears"></i></a></li>
        </ul>
        <!-- Tab panes -->
        <div class="tab-content">
          <!-- Home tab content -->
          <div class="tab-pane" id="control-sidebar-home-tab">
          </div>
          <!-- /.tab-pane -->
          <!-- Stats tab content -->
          <div class="tab-pane" id="control-sidebar-stats-tab">Stats Tab Content</div>
          <!-- /.tab-pane -->
          <!-- Settings tab content -->
          <div class="tab-pane" id="control-sidebar-settings-tab">

          </div>
          <!-- /.tab-pane -->
        </div>
      </aside>
      <!-- /.control-sidebar -->
      <!-- Add the sidebar's background. This div must be placed
           immediately after the control sidebar -->
      <div class="control-sidebar-bg"></div>
    </div>
    <!-- ./wrapper -->



    <!-- jQuery UI 1.11.4 -->
    <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>

    <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
    <script>$.widget.bridge('uibutton', $.ui.button);</script>

    <!-- Bootstrap 3.3.6 -->
    <script src="{{ asset('js/bootstrap.min.js') }}"></script>

    <!-- AdminLTE App -->
    <script src="{{ asset('js/template/app.min.js') }}"></script>

    <script src="{{ asset('js/data_table/jquery.dataTables.min.js') }}"></script>

    <script src="{{ asset('js/select2/select2.full.min.js') }}"></script>

    <script src="{{ asset('js/tinymce/tinymce.min.js') }}"></script>

    <script src="{{ asset('js/tinymce/langs/es.js') }}"></script>

    <script>


      $(document).ready(function() {
          $('#CMSstzef_list').DataTable( {
             "language": {
                "sProcessing":     "Procesando...",
                "sLengthMenu":     "Mostrar _MENU_ registros",
                "sZeroRecords":    "No se encontraron resultados",
                "sEmptyTable":     "Ningún dato disponible en esta tabla",
                "sInfo":           "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                "sInfoEmpty":      "Mostrando registros del 0 al 0 de un total de 0 registros",
                "sInfoFiltered":   "(filtrado de un total de _MAX_ registros)",
                "sInfoPostFix":    "",
                "sSearch":         "Buscar:",
                "sUrl":            "",
                "sInfoThousands":  ",",
                "sLoadingRecords": "Cargando...",
                "oPaginate": {
                    "sFirst":    "Primero",
                    "sLast":     "Último",
                    "sNext":     "Siguiente",
                    "sPrevious": "Anterior"
                },
                "oAria": {
                    "sSortAscending":  ": Activar para ordenar la columna de manera ascendente",
                    "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                }
            }
          } );
      } );
    </script>

    <script>

      function elFinderBrowser (callback, value, meta) {
        tinymce.activeEditor.windowManager.open({
          file: '/elfinder/elfinder.html',// use an absolute path!
          title: 'elFinder 2.0',
          width: 900,
          height: 450,
          resizable: 'yes'
        }, {
          oninsert: function (file, elf) {
            var url, reg, info;

            // URL normalization
            url = file.url;
            reg = /\/[^/]+?\/\.\.\//;
            while(url.match(reg)) {
              url = url.replace(reg, '/');
            }

            // Make file info
            info = file.name + ' (' + elf.formatSize(file.size) + ')';

            // Provide file and text for the link dialog
            if (meta.filetype == 'file') {
              callback(url, {text: info, title: info});
            }

            // Provide image and alt text for the image dialog
            if (meta.filetype == 'image') {
              callback(url, {alt: info});
            }

            // Provide alternative source and posted for the media dialog
            if (meta.filetype == 'media') {
              callback(url);
            }
          }
        });
        return false;
      }

      tinymce.init({
        selector: 'textarea',
        file_picker_callback : elFinderBrowser,
        height: 200,
        theme: 'modern',
        plugins: [
          'advlist autolink lists link image charmap print preview hr anchor pagebreak',
          'searchreplace wordcount visualblocks visualchars code fullscreen',
          'insertdatetime media nonbreaking save table contextmenu directionality',
          'emoticons template paste textcolor colorpicker textpattern imagetools codesample toc'
        ],
        setup: function (editor) {
            editor.on('change', function () {
                tinymce.triggerSave();
            });
        },
        toolbar1: 'undo redo | insert | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image',
        toolbar2: 'print preview media | forecolor backcolor emoticons | codesample',
        image_advtab: true,
        templates: [
          { title: 'Test template 1', content: 'Test 1' },
          { title: 'Test template 2', content: 'Test 2' }
        ],
        /*content_css: [
          '//fonts.googleapis.com/css?family=Lato:300,300i,400,400i',
          '//www.tinymce.com/css/codepen.min.css'
        ]*/
      });
    </script>

    <script type="text/javascript">

      $(document).ready(function() {
        $("select").select2();
      });

      function clear_string(string){
          return string
              .toLowerCase()
              .replace(/ /g,'-')
              .replace(/[^\w-]+/g,'')
      }

      $("input[id*=_slug]").prop("readOnly",true)
        $("input[id*=_name]").change(function (event) {
            $("input[id*=_alias]").val(clear_string($(this).val()) )
            $("input[id*=_slug]").val(clear_string($(this).val()) )
        })
    </script>

    {% block javascripts %}{% endblock %}
  </body>
</html>
