 
{% extends 'base.html.twig' %}

{% block body %}
    <h1>Cmsstzefdisplaytype</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Name</th>
                <td>{{ cmsStzefDisplayType.name }}</td>
            </tr>
            <tr>
                <th>Cssclass</th>
                <td>{{ cmsStzefDisplayType.cssClass }}</td>
            </tr>
            <tr>
                <th>Id</th>
                <td>{{ cmsStzefDisplayType.id }}</td>
            </tr>
        </tbody>
    </table>

    <ul class="list-unstyled" >
        <li>
            <a class="btn btn-primary" role="button" href="{{ path('admstzef_display_types_index') }}">Listado</a>
        </li>
        <li>
            <a class="btn btn-info" role="button" href="{{ path('admstzef_display_types_edit', { 'id': cmsStzefDisplayType.id }) }}">Editar</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" class="btn btn-danger" value="Borrar">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
