{% extends 'base.html.twig' %}

{% block body %}
    <h1>Listado Cmsstzeftypespages</h1>

    <table class="table" id="CMSstzef_list">
        <thead>
            <tr>
                <th>Name</th>
                <th>Id</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for cmsStzefTypesPage in cmsStzefTypesPages %}
            <tr>
                <td><a href="{{ path('admstzef_types_pages_show', { 'id': cmsStzefTypesPage.id }) }}">{{ cmsStzefTypesPage.name }}</a></td>
                <td>{{ cmsStzefTypesPage.id }}</td>
                <td>
                    <ul class="list-unstyled">
                        <li>
                            <a class="btn btn-" role="button" href="{{ path('admstzef_types_pages_show', { 'id': cmsStzefTypesPage.id }) }}">show</a>
                        </li>
                        <li>
                            <a class="btn btn-" role="button" href="{{ path('admstzef_types_pages_edit', { 'id': cmsStzefTypesPage.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul class="list-unstyled">
        <li>
            <a class="btn btn-success" role="button" href="{{ path('admstzef_types_pages_new') }}">Nuevo cmsStzefTypesPage</a>
        </li>
    </ul>
{% endblock %}
