{% extends 'base.html.twig' %}

{% block body %}
    <h1>Listado Usuarios</h1>

    <table class="table" id="CMSstzef_list">
        <thead>
            <tr>
                <th>Nombre</th>
                <!--<th>Foto</th>-->
                <th>Usuario</th>
                <th>Email</th>
                <th>Activo</th>
                <th>Rol</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for cmsStzefUser in cmsStzefUsers %}
            <tr>
                <td>
                    <input type="hidden" value="{{cmsStzefUser.id}}" name="iduser" id="iduser">
                    <a href="{{ path('admstzef_users_show', { 'id': cmsStzefUser.id }) }}">{{ cmsStzefUser.name }}</a>
                </td>
                <!--<td><img width="150px" class="img-responsive" src="{{ cmsStzefUser.photo }}" alt=""></td>-->
                <td>{{ cmsStzefUser.username }}</td>
                <td>{{ cmsStzefUser.email }}</td>
                <td>{% if cmsStzefUser.enabled %} <b>Si</b>{% else %}No{% endif %}</td>
                <td>
                    <p>{% for rol in cmsStzefUser.roles %} {{ rol }} {% if not loop.last %} - {% endif %} {% endfor %}</p>
                    <div class="input-group">
                        <select name="rol" id="rol" class="form-control">
                            <option value="ROLE_ADMIN"> ROLE_ADMIN </option>
                            <option value="ROLE_USER"> ROLE_USER </option>
                            <option value="ROLE_AUTOR"> ROLE_AUTOR </option>
                        </select>
                        <span class="input-group-btn">
                            <button class="btn btn-success btn-change-rol"> Cambiar</button>
                        </span>
                    </div>


                </td>
                <td>
                    <ul class="list-unstyled">
                        <!--<li>
                            <a class="btn btn-" role="button" href="{{ path('admstzef_users_show', { 'id': cmsStzefUser.id }) }}">Mostrar</a>
                        </li>-->
                        {% if is_granted('ROLE_ADMIN') %}
                            <li>
                                <a class="btn btn-" role="button" href="{{ path('change_estate_user', { 'id': cmsStzefUser.id }) }}">
                                    {% if cmsStzefUser.enabled %}Desactivar{% else %}Activar{% endif %}
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <!--<ul class="list-unstyled">
        <li>
            <a class="btn btn-success" role="button" href="{{ path('admstzef_users_new') }}">Nuevo Usuario</a>
        </li>
    </ul>-->
{% endblock %}
{% block javascripts %}
    <script>
        $(".btn-change-rol").click(function (event) {
            var ref = $(this).closest("tr")
            console.log(ref)
            $.ajax({
                url : "{{ path('change_rol_user') }}",
                type : "POST",
                data : {user:ref.find("#iduser").val(),rol:ref.find("#rol").val()}
            })
        })
    </script>
{% endblock %}
