{% extends 'base.html.twig' %}

{% block body %}
    <h1>Listado Cmsstzefusers</h1>

    <table class="table" id="CMSstzef_list">
        <thead>
            <tr>
                <th>Username</th>
                <th>Name</th>
                <th>Email</th>
                <th>Activation</th>
                <th>Resgiterdate</th>
                <th>Enabled</th>
                <th>Lastlogin</th>
                <th>Roles</th>
                <th>Id</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for cmsStzefUser in cmsStzefUsers %}
            <tr>
                <td><a href="{{ path('admstzef_users_show', { 'id': cmsStzefUser.id }) }}">{{ cmsStzefUser.username }}</a></td>
                <td>{{ cmsStzefUser.name }}</td>
                <td>{{ cmsStzefUser.email }}</td>
                <td>{% if cmsStzefUser.activation %}Yes{% else %}No{% endif %}</td>
                <td>{% if cmsStzefUser.resgiterDate %}{{ cmsStzefUser.resgiterDate|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if cmsStzefUser.enabled %}Yes{% else %}No{% endif %}</td>
                <td>{% if cmsStzefUser.lastLogin %}{{ cmsStzefUser.lastLogin|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td><ul>  {% for rol in cmsStzefUser.roles %} <li> {{ rol }}</li>{% endfor %} </ul></td>
                <td>{{ cmsStzefUser.id }}</td>
                <td>
                    <ul class="list-unstyled">
                        <li>
                            <a class="btn btn-" role="button" href="{{ path('admstzef_users_show', { 'id': cmsStzefUser.id }) }}">show</a>
                        </li>
                        <li>
                            <a class="btn btn-" role="button" href="{{ path('admstzef_users_edit', { 'id': cmsStzefUser.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul class="list-unstyled">
        <li>
            <a class="btn btn-success" role="button" href="{{ path('admstzef_users_new') }}">Nuevo cmsStzefUser</a>
        </li>
    </ul>
{% endblock %}
