{% extends 'base.html.twig' %}

{% block body %}
    <h1>Listado Usuarios</h1>

    <table class="table" id="CMSstzef_list">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Foto</th>
                <th>Usuario</th>
                <th>Email</th>
                <th>Enabled</th>
                <th>Lastlogin</th>
                <th>Roles</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for cmsStzefUser in cmsStzefUsers %}
            <tr>
                <td><a href="{{ path('admstzef_users_show', { 'id': cmsStzefUser.id }) }}">{{ cmsStzefUser.name }}</a></td>
                <td><img width="150px" class="img-responsive" src="{{ cmsStzefUser.photo }}" alt=""></td>
                <td>{{ cmsStzefUser.username }}</td>
                <td>{{ cmsStzefUser.email }}</td>
                <td>{% if cmsStzefUser.enabled %}Yes{% else %}No{% endif %}</td>
                <td>{% if cmsStzefUser.lastLogin %}{{ cmsStzefUser.lastLogin|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% for rol in cmsStzefUser.roles %} {{rol}} {% endfor %}</td>
                <td>
                    <ul class="list-unstyled">
                        <!--<li>
                            <a class="btn btn-" role="button" href="{{ path('admstzef_users_show', { 'id': cmsStzefUser.id }) }}">Mostrar</a>
                        </li>-->
                        <li>
                            <a class="btn btn-" role="button" href="{{ path('admstzef_users_edit', { 'id': cmsStzefUser.id }) }}">Editar</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul class="list-unstyled">
        <li>
            <a class="btn btn-success" role="button" href="{{ path('admstzef_users_new') }}">Nuevo Usuario</a>
        </li>
    </ul>
{% endblock %}
