 
{% extends 'base.html.twig' %}

{% block body %}
    <h1>Cmsstzefuser</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Name</th>
                <td>{{ cmsStzefUser.name }}</td>
            </tr>
            <tr>
                <th>Username</th>
                <td>{{ cmsStzefUser.username }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ cmsStzefUser.email }}</td>
            </tr>
            <tr>
                <th>Activation</th>
                <td>{% if cmsStzefUser.activation %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Resgiterdate</th>
                <td>{% if cmsStzefUser.resgiterDate %}{{ cmsStzefUser.resgiterDate|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>

            <tr>
                <th>Enabled</th>
                <td>{% if cmsStzefUser.enabled %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Lastlogin</th>
                <td>{% if cmsStzefUser.lastLogin %}{{ cmsStzefUser.lastLogin|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>

            <tr>
                <th>Locked</th>
                <td>{% if cmsStzefUser.locked %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Roles</th>
                <td><ul>  {% for rol in cmsStzefUser.roles %} <li> {{ rol }}</li>{% endfor %} </ul></td>
            </tr>
            <tr>
                <th>Id</th>
                <td>{{ cmsStzefUser.id }}</td>
            </tr>
        </tbody>
    </table>

    <ul class="list-unstyled" >
        <li>
            <a class="btn btn-primary" role="button" href="{{ path('admstzef_users_index') }}">Listado</a>
        </li>
        <li>
            <a class="btn btn-info" role="button" href="{{ path('admstzef_users_edit', { 'id': cmsStzefUser.id }) }}">Editar</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" class="btn btn-danger" value="Borrar">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
