{% extends 'themes/' ~ theme.slug ~ '/template.html.twig' %}

{% block title %} Articulo - {{ current_article.name }}{% endblock %}
{% block stylesheets %}{% endblock %}

{% block body %}
        <div class="row article-detail">
            <div class="col-md-12 col-lg-12" style="padding-right: 0px;padding-left: 0px;">
                <div class="row">

                    <div class="col-md-12 col-lg-12">

                        <div class="col-lg-8 col-md-8">
                            <h1>{{ current_article.name }}</h1>
                            <p class="lead">Por <a href="#">{{ current_article.creatorUser }}</a></p>

                            <!--
                            <hr>
                            <p><span class="glyphicon glyphicon-time"></span> Posted on August 24, 2013 at 9:00 PM</p>
                            <hr>
                            -->

                            <!--
                            <center><img class="img-responsive center-block" src="{{ asset(current_article.imageMain) }}" alt=""></center>
                            -->
                            <hr>

                            <div class="container-content-html-tinymce" >
                                {{ current_article.contentHTML|raw }}
                            </div>

                            <hr>
                        </div>
                    </div>

                    <!--<div id="convenio-cronologia" class="col-md-12 col-lg-12"></div>-->

                </div>

            </div>

        </div>

{% endblock %}
