{% extends 'base.html.twig' %}

{% block body %}
    <h1>Listado Cmsstzefusersgroups</h1>

    <table class="table" id="CMSstzef_list">
        <thead>
            <tr>
                <th>Name</th>
                <th>Id</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for cmsStzefUsersGroup in cmsStzefUsersGroups %}
            <tr>
                <td><a href="{{ path('admstzef_users_groups_show', { 'id': cmsStzefUsersGroup.id }) }}">{{ cmsStzefUsersGroup.name }}</a></td>
                <td>{{ cmsStzefUsersGroup.id }}</td>
                <td>
                    <ul class="list-unstyled">
                        <li>
                            <a class="btn btn-" role="button" href="{{ path('admstzef_users_groups_show', { 'id': cmsStzefUsersGroup.id }) }}">show</a>
                        </li>
                        <li>
                            <a class="btn btn-" role="button" href="{{ path('admstzef_users_groups_edit', { 'id': cmsStzefUsersGroup.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul class="list-unstyled">
        <li>
            <a class="btn btn-success" role="button" href="{{ path('admstzef_users_groups_new') }}">Nuevo cmsStzefUsersGroup</a>
        </li>
    </ul>
{% endblock %}
