<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% block title %}@pagina_nombre{% endblock %}</title>
    <!-- Bootstrap Core CSS -->
    <link href="{{ asset('themes/default/css/bootstrap.min.css') }}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{{ asset('themes/default/css/shop-homepage.css') }}" rel="stylesheet">
    {% block stylesheets %}{% endblock %}

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
    
<body>

    <div class="container">

        <div class="row">
            <div class="col-md-7"><img src="1.png" alt="" width="10%" height="10%" />Nombre Empresa</div>
            <div class="col-md-5 text-right"><h4>Telefonos</h4></div>
        </div>

    <!-- Navigation -->
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Inicio</a>
        </div> 

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">

            {% for itemMenu in cmsStzefMenuses %}
                {% if itemMenu.subMenus|length == 0 %}
                    <li><a href="{{ path(itemMenu.page.nameUrl) }}">{{ itemMenu.name }}</a></li>
                {% else %}
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ itemMenu.name }} <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            {% for itemSubMenu in itemMenu.subMenus %}
                                {% if itemSubMenu.subMenus|length == 0 %}
                                    <li><a href="{{ path(itemSubMenu.page.nameUrl) }}">{{ itemSubMenu.name }}</a></li>
                                {% else %}
                                    <li class="dropdown-submenu">
                                        <a tabindex="-1" href="#">{{ itemSubMenu.name }}<span class="caret"></span></a>
                                        <ul class="dropdown-menu">
                                            {% for itemSubMenu2 in itemSubMenu.subMenus %}
                                                <li><a tabindex="-1" href="{{ path(itemSubMenu2.page.nameUrl) }}">{{ itemSubMenu2.name }}</a></li>
                                            {% endfor %}
                                        </ul>
                                    </li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </li>
                {% endif %}
            {% endfor %}
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>

    <!-- Page Content -->

        <div class="row">

            <div class="col-md-12">

                <div class="row carousel-holder">

                    <div class="col-md-12">
                        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                            <ol class="carousel-indicators">
                                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                            </ol>
                            <div class="carousel-inner">
                                <div class="item active">
                                    <img class="slide-image" src="http://placehold.it/800x300" alt="">
                                </div>
                                <div class="item">
                                    <img class="slide-image" src="http://placehold.it/800x300" alt="">
                                </div>
                                <div class="item">
                                    <img class="slide-image" src="http://placehold.it/800x300" alt="">
                                </div>
                            </div>
                            <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                                <span class="glyphicon glyphicon-chevron-left"></span>
                            </a>
                            <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                                <span class="glyphicon glyphicon-chevron-right"></span>
                            </a>
                        </div>
                    </div>

                </div>

                <div class="row">
                    {% block body %}
                    {% endblock %}
                </div>

                <div class="row">

                    <div class="col-sm-5 col-lg-6 col-md-6">
                        <div class="col-sm-3 col-lg-4 col-md-4">
                            <div class="thumbnail">
                                <img src="http://placehold.it/320x150" alt="">
                                <div class="caption">
                                    <h4 class="text-center"><a href="#">First Product</a>
                                    </h4>
                                    <h4 class="text-center">$24.99</h4>
                                    <p>See more snippets like this online store item at <a target="_blank" href="http://www.bootsnipp.com">Bootsnipp - http://bootsnipp.com</a>.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3 col-lg-4 col-md-4">
                            <div class="thumbnail">
                                <img src="http://placehold.it/320x150" alt="">
                                <div class="caption">
                                    <h4 class="text-center"><a href="#">First Product</a>
                                    </h4>
                                    <h4 class="text-center">$24.99</h4>
                                    <p>See more snippets like this online store item at <a target="_blank" href="http://www.bootsnipp.com">Bootsnipp - http://bootsnipp.com</a>.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3 col-lg-4 col-md-4">
                            <div class="thumbnail">
                                <img src="http://placehold.it/320x150" alt="">
                                <div class="caption">
                                    <h4 class="text-center"><a href="#">First Product</a>
                                    </h4>
                                    <h4 class="text-center">$24.99</h4>
                                    <p>See more snippets like this online store item at <a target="_blank" href="http://www.bootsnipp.com">Bootsnipp - http://bootsnipp.com</a>.</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-5 col-lg-6 col-md-6">
                        <iframe src="https://calendar.google.com/calendar/embed?src=es.co%23holiday%40group.v.calendar.google.com&ctz=America/Bogota" style="border: 0" width="100%" height="300" frameborder="0" scrolling="no"></iframe>
                    </div>

                    <div class="col-sm-5 col-lg-6 col-md-6">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d127306.38529661586!2d-74.88660420051349!3d4.35007576222727!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e3f28eb1616af2b%3A0x1d71759ce9e2c519!2sGirardot%2C+Cundinamarca%2C+Colombia!5e0!3m2!1ses!2ses!4v1479765177545" width="100%" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
                    </div>

                    <div class="col-sm-5 col-lg-6 col-md-6">
                        <div class="panel panel-body">
                            <div class="page-header">
                                <h2>Contactos</h2>
                            </div>
                            <h3><strong> Nombre Empresa</strong></h3>
                            <h4><span class="glyphicon glyphicon-earphone"></span>Telefonos</h4>
                            <h4><span class="glyphicon glyphicon-home"></span>  Dirección</h4>
                            <h4><span class="glyphicon glyphicon-time"></span> Horarios</h4>
                        </div>
                    </div>

                </div>

            </div>

        </div>

    </div>
    <!-- /.container -->

    <div class="container">

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <p>Copyright &copy; Diseñado por: </p>
                </div>
            </div>
        </footer>

    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="{{ asset('themes/default/js/jquery.js') }}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{ asset('themes/default/js/bootstrap.min.js') }}"></script>

    {% block javascripts %}
    {% endblock %}
</body>

</html>
