
    <h1>Contrataciones</h1>

    <table class="table" id="CMSstzef_list">
        <thead>
            <tr>
                <th>Proceso</th>
                <th>Descripcion</th>
                <th>Apertura</th>
                <th>Aclaracion</th>
                <th>Cierre</th>
                <th>Adjudicion</th>
                <th>Archivo</th>
            </tr>
        </thead>
        <tbody>
        {% for articulo in articles%}
            <tr>
                <td>{{ articulo.contrato.proccess}}</td>
                <td>{{ articulo.contrato.description|raw }}</td>
                <td>{% if articulo.contrato.dateApertura %}{{ articulo.contrato.dateApertura|date('Y-m-d') }}{% endif %}</td>
                <td>{% if articulo.contrato.dateAclaracion %}{{ articulo.contrato.dateAclaracion|date('Y-m-d') }}{% endif %}</td>
                <td>{% if articulo.contrato.dateCierre %}{{ articulo.contrato.dateCierre|date('Y-m-d') }}{% endif %}</td>
                <td>{% if articulo.contrato.dateAdjudicion %}{{ articulo.contrato.dateAdjudicion|date('Y-m-d') }}{% endif %}</td>
                <td><a href="{{ articulo.contrato.path }}"><img src="{{parameters.image_pdf.path}}" alt="pdf"></a></td>
                 <!--<td>{#{{ articulo_contract.id }}#}</td>
                <td>
                    <ul class="list-unstyled">
                        <li>
                            <a class="btn btn-" href="{#{{ path('admstzef_contracts_show', { 'id': articulo_contract.id }) }}#}">Mostrar</a>
                        </li>
                        <li>
                            <a class="btn btn-" href="{#{{ path('admstzef_contratcs_edit', { 'id': articulo_contract.id }) }}#}">Editar</a>
                        </li>
                    </ul>
                </td>-->
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <!--<ul class="list-unstyled">
        <li>
            <a class="btn btn-success"  href="{#{{ path('admstzef_contratcs_new') }}#}">Nueva Contratación</a>
        </li>
    </ul>-->
