{% extends 'base.html.twig' %}

{% block body %}
    <h1>Cmsstzefstate</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Nombre</th>
                <td>{{ cmsStzefState.name }}</td>
            </tr>
            <tr>
                <th>Id</th>
                <td>{{ cmsStzefState.id }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('states_edit', { 'id': cmsStzefState.id }) }}" class="btn btn-info">Editar</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" class="btn btn-danger" value="Borrar">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
