{% extends 'base.html.twig' %}

{% block body %}
    <h1>Listado Articulos</h1>

    <table class="table" id="CMSstzef_list">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Descripcion</th>
                <th>Creado por</th>
                <th>Destacado</th>
                <th>Estado</th>
                <th>Imagen</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for cmsStzefArticle in cmsStzefArticles %}
            <tr>
                <!--<td><a href="{{ path('admstzef_articles_show', { 'id': cmsStzefArticle.id }) }}">{{ cmsStzefArticle.name }}</a></td>-->
                <td>{{ cmsStzefArticle.name }}</td>
                <td>{{ cmsStzefArticle.description }}</td>
                <td>{{ cmsStzefArticle.creatorUser.username }}</td>
                <td>{% if cmsStzefArticle.ifDistinguished %}Yes{% else %}No{% endif %}</td>
                <td>{{ cmsStzefArticle.idStatePublication.name }}</td>
                <td><img width="150px" class="img-responsive" src="{{ cmsStzefArticle.imageMain }}" alt=""></td>

                <td>
                    <ul class="list-unstyled">
                        <!--<li>
                            <a class="btn btn-" role="button" href="{{ path('admstzef_articles_show', { 'id': cmsStzefArticle.id }) }}">Mostrar</a>
                        </li>-->
                        <li>
                            <a class="btn btn-" role="button" href="{{ path('admstzef_articles_edit', { 'id': cmsStzefArticle.id }) }}">Editar</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul class="list-unstyled">
        <li>
            <a class="btn btn-success" role="button" href="{{ path('admstzef_articles_new') }}">Nuevo Articulo</a>
        </li>
    </ul>
{% endblock %}
