{% extends 'base.html.twig' %}

{% block body %}
    <h1>Listado Cmsstzefarticles</h1>

    <table class="table" id="CMSstzef_list">
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Contenthtml</th>
                <th>Imagemain</th>
                <th>Ifdistinguished</th>
                <th>Datecreation</th>
                <th>Id</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for cmsStzefArticle in cmsStzefArticles %}
            <tr>
                <td><a href="{{ path('admstzef_articles_show', { 'id': cmsStzefArticle.id }) }}">{{ cmsStzefArticle.name }}</a></td>
                <td>{{ cmsStzefArticle.description }}</td>
                <td>{{ cmsStzefArticle.contentHtml }}</td>
                <td>{{ cmsStzefArticle.imageMain }}</td>
                <td>{% if cmsStzefArticle.ifDistinguished %}Yes{% else %}No{% endif %}</td>
                <td>{% if cmsStzefArticle.dateCreation %}{{ cmsStzefArticle.dateCreation|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ cmsStzefArticle.id }}</td>
                <td>
                    <ul class="list-unstyled">
                        <li>
                            <a class="btn btn-" role="button" href="{{ path('admstzef_articles_show', { 'id': cmsStzefArticle.id }) }}">show</a>
                        </li>
                        <li>
                            <a class="btn btn-" role="button" href="{{ path('admstzef_articles_edit', { 'id': cmsStzefArticle.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul class="list-unstyled">
        <li>
            <a class="btn btn-success" role="button" href="{{ path('admstzef_articles_new') }}">Nuevo cmsStzefArticle</a>
        </li>
    </ul>
{% endblock %}
