 
{% extends 'base.html.twig' %}

{% block body %}
    <h1>Cmsstzefarticle</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Name</th>
                <td>{{ cmsStzefArticle.name }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ cmsStzefArticle.description }}</td>
            </tr>
            <tr>
                <th>Contenthtml</th>
                <td>{{ cmsStzefArticle.contentHtml }}</td>
            </tr>
            <tr>
                <th>Imagemain</th>
                <td>{{ cmsStzefArticle.imageMain }}</td>
            </tr>
            <tr>
                <th>Ifdistinguished</th>
                <td>{% if cmsStzefArticle.ifDistinguished %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Datecreation</th>
                <td>{% if cmsStzefArticle.dateCreation %}{{ cmsStzefArticle.dateCreation|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Modified</th>
                <td>{% if cmsStzefArticle.modified %}{{ cmsStzefArticle.modified|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Params</th>
                <td>{{ cmsStzefArticle.params }}</td>
            </tr>
            <tr>
                <th>Id</th>
                <td>{{ cmsStzefArticle.id }}</td>
            </tr>
        </tbody>
    </table>

    <ul class="list-unstyled" >
        <li>
            <a class="btn btn-primary" role="button" href="{{ path('admstzef_articles_index') }}">Listado</a>
        </li>
        <li>
            <a class="btn btn-info" role="button" href="{{ path('admstzef_articles_edit', { 'id': cmsStzefArticle.id }) }}">Editar</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" class="btn btn-danger" value="Borrar">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
