
{% extends 'base.html.twig' %}

{% block body %}
    <h1>Articulo <b>{{ cmsStzefArticle.name }}</b></h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Nombre</th>
                <td>{{ cmsStzefArticle.name }}</td>
            </tr>
            <tr>
                <th>Descripcion</th>
                <td>{{ cmsStzefArticle.description }}</td>
            </tr>
            <tr>
                <th>Contenido</th>
                <td>{{ cmsStzefArticle.contentHtml|raw }}</td>
            </tr>
            <tr>
                <th>Imagen</th>
                <th><img width="150px" class="img-responsive" src="{{ cmsStzefArticle.imageMain }}" alt=""></th>
            </tr>
            <tr>
                <th>Destacado</th>
                <td>{% if cmsStzefArticle.ifDistinguished %} <b>Si</b>{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Id</th>
                <td>{{ cmsStzefArticle.id }}</td>
            </tr>
        </tbody>
    </table>

    <ul class="list-unstyled" >
        <li>
            <a class="btn btn-primary" role="button" href="{{ path('admstzef_articles_index') }}">Listado</a>
        </li>
        <li>
            <a class="btn btn-info" role="button" href="{{ path('admstzef_articles_edit', { 'id': cmsStzefArticle.id }) }}">Editar</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" class="btn btn-danger" value="Borrar">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
