{% extends 'base.html.twig' %}

{% block body %}
    <h1>Listado Cmsstzefthemes</h1>

    <table class="table" id="CMSstzef_list">
        <thead>
            <tr>
                <th>Name</th>
                <th>Id</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for cmsStzefTheme in cmsStzefThemes %}
            <tr>
                <td><a href="{{ path('admstzef_themes_show', { 'id': cmsStzefTheme.id }) }}">{{ cmsStzefTheme.name }}</a></td>
                <td>{{ cmsStzefTheme.id }}</td>
                <td>
                    <ul class="list-unstyled">
                        <li>
                            <a class="btn btn-" role="button" href="{{ path('admstzef_themes_show', { 'id': cmsStzefTheme.id }) }}">show</a>
                        </li>
                        <li>
                            <a class="btn btn-" role="button" href="{{ path('admstzef_themes_edit', { 'id': cmsStzefTheme.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul class="list-unstyled">
        <li>
            <a class="btn btn-success" role="button" href="{{ path('admstzef_themes_new') }}">Nuevo cmsStzefTheme</a>
        </li>
    </ul>
{% endblock %}
