{% extends 'base.html.twig' %}

{% block body %}
    <h1>Listado Cmsstzefcategories</h1>

    <table class="table" id="CMSstzef_list">
        <thead>
            <tr>
                <th>Name</th>
                <th>Alias</th>
                <th>Description</th>
                <th>Datecreation</th>
                <th>Modified</th>
                <th>Params</th>
                <th>Id</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for cmsStzefCategory in cmsStzefCategories %}
            <tr>
                <td><a href="{{ path('admstzef_categories_show', { 'id': cmsStzefCategory.id }) }}">{{ cmsStzefCategory.name }}</a></td>
                <td>{{ cmsStzefCategory.alias }}</td>
                <td>{{ cmsStzefCategory.description }}</td>
                <td>{% if cmsStzefCategory.dateCreation %}{{ cmsStzefCategory.dateCreation|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if cmsStzefCategory.modified %}{{ cmsStzefCategory.modified|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ cmsStzefCategory.params }}</td>
                <td>{{ cmsStzefCategory.id }}</td>
                <td>
                    <ul class="list-unstyled">
                        <li>
                            <a class="btn btn-" role="button" href="{{ path('admstzef_categories_show', { 'id': cmsStzefCategory.id }) }}">show</a>
                        </li>
                        <li>
                            <a class="btn btn-" role="button" href="{{ path('admstzef_categories_edit', { 'id': cmsStzefCategory.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul class="list-unstyled">
        <li>
            <a class="btn btn-success" role="button" href="{{ path('admstzef_categories_new') }}">Nuevo cmsStzefCategory</a>
        </li>
    </ul>
{% endblock %}
