{% extends 'base.html.twig' %}

{% block body %}
    <h1>Listado Cmsstzefcategories</h1>
    <ul class="list-unstyled">
        <li>
            <a class="btn btn-success" role="button" href="{{ path('admstzef_categories_new') }}">Nueva Categoria</a>
        </li>
    </ul>

    <table class="table" id="CMSstzef_list">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Descripcion</th>
                <th>Creado por</th>
                <th>Estado</th>
                <th>Acceso</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for cmsStzefCategory in cmsStzefCategories %}
            <tr>
                <td><a href="{{ path('admstzef_categories_show', { 'id': cmsStzefCategory.id }) }}">{{ cmsStzefCategory.name }}</a></td>
                <td>{{ cmsStzefCategory.description }}</td>
                <td>{{ cmsStzefCategory.creatorUser.username }}</td>
                <td>{{ cmsStzefCategory.idStatePublication.name }}</td>
                <td>{{ cmsStzefCategory.idTypeAccess.name }}</td>
                <td>
                    <ul class="list-unstyled">
                        <li>
                            <a class="btn btn-" role="button" href="{{ path('admstzef_categories_show', { 'id': cmsStzefCategory.id }) }}">show</a>
                        </li>
                        <li>
                            <a class="btn btn-" role="button" href="{{ path('admstzef_categories_edit', { 'id': cmsStzefCategory.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
