{% extends 'base.html.twig' %}

{% block body %}
    <h1>Listado Menus</h1>

    <table class="table" id="CMSstzef_list">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Principal</th>
                <th>Pagina</th>
                <th>Creado por</th>
                <th>Estado</th>
                <th>Acceso</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for cmsStzefMenu in cmsStzefMenuses %}
            <tr>
                <td><a href="{{ path('admstzef_menus_show', { 'id': cmsStzefMenu.id }) }}">{{ cmsStzefMenu.name }}</a></td>
                <td>{% if cmsStzefMenu.ifMain %}Si{% else %}No{% endif %}</td>
                <td><a href="{{ path('admstzef_pages_show', { 'id': cmsStzefMenu.page.id }) }}">{{ cmsStzefMenu.page.name }}</a></td>
                <td>{{ cmsStzefMenu.creatorUser.username }}</td>
                <td>{{ cmsStzefMenu.idStatePublication.name }}</td>
                <td>{{ cmsStzefMenu.idTypeAccess.name }}</td>
                <td>
                    <ul class="list-unstyled">
                        <!--<li>
                            <a class="btn btn-" role="button" href="{{ path('admstzef_menus_show', { 'id': cmsStzefMenu.id }) }}">Mostrar</a>
                        </li>-->
                        <li>
                            <a class="btn btn-" role="button" href="{{ path('admstzef_menus_edit', { 'id': cmsStzefMenu.id }) }}">Editar</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <ul class="list-unstyled">
        <li>
            <a class="btn btn-success" role="button" href="{{ path('admstzef_menus_new') }}">Nuevo Menu</a>
        </li>
    </ul>

{% endblock %}
