{% extends 'base.html.twig' %}

{% block body %}
    <h1>Listado Detalle de Banner</h1>

    <table class="table" id="CMSstzef_list">
        <thead>
            <tr>
                <th>Imagen</th>
                <th>Contenido</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for cmsStzefBannerDetum in cmsStzefBannerDetas %}
            <tr>
                <td><img width="150px" class="img-responsive" src="{{ cmsStzefBannerDetum.image }}" alt=""></td>
                <td>{{ cmsStzefBannerDetum.contentHtml|raw }}</td>
                <td>
                    <ul class="list-unstyled">
                        <!--<li>
                            <a class="btn btn-" role="button" href="{{ path('admstzef_banner_deta_show', { 'id': cmsStzefBannerDetum.id }) }}">show</a>
                        </li>-->
                        <li>
                            <a class="btn btn-" role="button" href="{{ path('admstzef_banner_deta_edit', { 'id': cmsStzefBannerDetum.id }) }}">Editar</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul class="list-unstyled">
        <li>
            <a class="btn btn-success" role="button" href="{{ path('admstzef_banner_deta_new') }}">Nueva Imagen de Galeria</a>
        </li>
    </ul>
{% endblock %}
