 
{% extends 'base.html.twig' %}

{% block body %}
    <h1>Cmsstzefbannerdetum</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Image</th>
                <td>{{ cmsStzefBannerDetum.image }}</td>
            </tr>
            <tr>
                <th>Contenthtml</th>
                <td>{{ cmsStzefBannerDetum.contentHtml }}</td>
            </tr>
            <tr>
                <th>Id</th>
                <td>{{ cmsStzefBannerDetum.id }}</td>
            </tr>
        </tbody>
    </table>

    <ul class="list-unstyled" >
        <li>
            <a class="btn btn-primary" role="button" href="{{ path('admstzef_banner_deta_index') }}">Listado</a>
        </li>
        <li>
            <a class="btn btn-info" role="button" href="{{ path('admstzef_banner_deta_edit', { 'id': cmsStzefBannerDetum.id }) }}">Editar</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" class="btn btn-danger" value="Borrar">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
