{% extends 'base.html.twig' %}

{% block body %}
    <h1>Listado Modulos</h1>

    <table class="table" id="CMSstzef_list">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Creado por</th>
                <th>Estado</th>
                <th>Acceso</th>
                <th>Tipo</th>
                <th>Seccion Tema</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for cmsStzefModule in cmsStzefModules %}
            <tr>
                <td><a href="{{ path('admstzef_modules_show', { 'id': cmsStzefModule.id }) }}">{{ cmsStzefModule.name }}</a></td>
                <td>{{ cmsStzefModule.creatorUser.username }}</td>
                <td>{{ cmsStzefModule.idStatePublication.name }}</td>
                <td>{{ cmsStzefModule.idTypeAccess.name }}</td>
                <td>{{ cmsStzefModule.idTypeModule.name }}</td>
                <td>{{ cmsStzefModule.idSectionTheme.name }}</td>
                <td>
                    <ul class="list-unstyled">
                        <!--<li>
                            <a class="btn btn-" role="button" href="{{ path('admstzef_modules_show', { 'id': cmsStzefModule.id }) }}">show</a>
                        </li>-->
                        <li>
                            <a class="btn btn-" role="button" href="{{ path('admstzef_modules_edit', { 'id': cmsStzefModule.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul class="list-unstyled">
        <li>
            <a class="btn btn-success" role="button" href="{{ path('admstzef_modules_new') }}">Nuevo Modulo</a>
        </li>
    </ul>
{% endblock %}
