{% extends 'base.html.twig' %}

{% block body %}
    <h1>Listado Parametros</h1>

    <table class="table" id="CMSstzef_list">
        <thead>
            <tr>
                <th>Cparam</th>
                <th>Cgroup</th>
                <th>Ngroup</th>
                <th>Type</th>
                <th>Name</th>
                <th>Valuetext</th>
                <th>Valuebool</th>
                <th>Valueint</th>
                <th>Id</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for cmsStzefParameter in cmsStzefParameters %}
            <tr>
                <td><a href="{{ path('admstzef_parameters_show', { 'id': cmsStzefParameter.id }) }}">{{ cmsStzefParameter.cparam }}</a></td>
                <td>{{ cmsStzefParameter.cgroup }}</td>
                <td>{{ cmsStzefParameter.ngroup }}</td>
                <td>{{ cmsStzefParameter.type }}</td>
                <td>{{ cmsStzefParameter.name }}</td>
                <td>{{ cmsStzefParameter.valueText }}</td>
                <td>{% if cmsStzefParameter.valueBool %}Yes{% else %}No{% endif %}</td>
                <td>{{ cmsStzefParameter.valueInt }}</td>
                <td>{{ cmsStzefParameter.id }}</td>
                <td>
                    <ul class="list-unstyled">
                        <!--<li>
                            <a class="btn btn-" role="button" href="{{ path('admstzef_parameters_show', { 'id': cmsStzefParameter.id }) }}">show</a>
                        </li>-->
                        <li>
                            <a class="btn btn-" role="button" href="{{ path('admstzef_parameters_edit', { 'id': cmsStzefParameter.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul class="list-unstyled">
        <li>
            <a class="btn btn-success" role="button" href="{{ path('admstzef_parameters_new') }}">Nuevo Parametro</a>
        </li>
    </ul>
{% endblock %}
