 
{% extends 'base.html.twig' %}

{% block body %}
    <h1>Cmsstzefparameter</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Cparam</th>
                <td>{{ cmsStzefParameter.cparam }}</td>
            </tr>
            <tr>
                <th>Cgroup</th>
                <td>{{ cmsStzefParameter.cgroup }}</td>
            </tr>
            <tr>
                <th>Ngroup</th>
                <td>{{ cmsStzefParameter.ngroup }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ cmsStzefParameter.type }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ cmsStzefParameter.name }}</td>
            </tr>
            <tr>
                <th>Valuetext</th>
                <td>{{ cmsStzefParameter.valueText }}</td>
            </tr>
            <tr>
                <th>Valuebool</th>
                <td>{% if cmsStzefParameter.valueBool %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Valueint</th>
                <td>{{ cmsStzefParameter.valueInt }}</td>
            </tr>
            <tr>
                <th>Id</th>
                <td>{{ cmsStzefParameter.id }}</td>
            </tr>
        </tbody>
    </table>

    <ul class="list-unstyled" >
        <li>
            <a class="btn btn-primary" role="button" href="{{ path('admstzef_parameters_index') }}">Listado</a>
        </li>
        <li>
            <a class="btn btn-info" role="button" href="{{ path('admstzef_parameters_edit', { 'id': cmsStzefParameter.id }) }}">Editar</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" class="btn btn-danger" value="Borrar">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
