{% extends 'base.html.twig' %}

{% block body %}
    <h1>Listado Tipos de Modulos</h1>

    <table class="table" id="CMSstzef_list">
        <thead>
            <tr>
                <th>Name</th>
                <th>Id</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for cmsStzefTypesModule in cmsStzefTypesModules %}
            <tr>
                <td><a href="{{ path('admstzef_types_modules_show', { 'id': cmsStzefTypesModule.id }) }}">{{ cmsStzefTypesModule.name }}</a></td>
                <td>{{ cmsStzefTypesModule.id }}</td>
                <td>
                    <ul class="list-unstyled">
                        <!--<li>
                            <a class="btn btn-" role="button" href="{{ path('admstzef_types_modules_show', { 'id': cmsStzefTypesModule.id }) }}">show</a>
                        </li>-->
                        <li>
                            <a class="btn btn-" role="button" href="{{ path('admstzef_types_modules_edit', { 'id': cmsStzefTypesModule.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul class="list-unstyled">
        <li>
            <a class="btn btn-success" role="button" href="{{ path('admstzef_types_modules_new') }}">Nuevo Tipo de Modulo</a>
        </li>
    </ul>
{% endblock %}
