<div class="block-1 {{ current_page.idDisplayType.cssClass }}">
    <div class="col-sm-12 col-lg-12 col-md-12">
        <div class="col-sm-3 col-lg-4 col-md-4">
            <img class="img-responsive" src="{{ articles.imageMain }}" alt="">
        </div>
        <div class="col-sm-9 col-lg-8 col-md-8 box-noticia">
            <h4 class="text-center"><a href="{{ path('view_article_generic',{'id_article' : articles.id }) }}">{{ articles.name }}</a>
            </h4>
            <p>{{ articles.description }}</p>
            <p>{{ articles.contentHTML|raw }}</p>
            <a class="btn btn-primary pull-right" href="{{ path('view_article_generic',{'id_article' : articles.id }) }}">Ver más</a>
        </div>
    </div>
</div>
