<div class="col-md-8">
    {% if articles is defined %}
        {% if current_page.idTypePage.id == 1 %}
            {% if articles|length > 0 %}
                <div class="block-1 {{ current_page.idDisplayType.cssClass }}">
                    {% for article in articles %}
                        <div class="block-1-shadow ">
                            <h2>
                                <a href="{{ path('view_article_generic',{'id_article' : article.id }) }}">{{ article.name }}</a>
                            </h2>
                            <p class="lead">
                                por <a href="#">{{ article.creatorUser.username }}</a>
                            </p>
                            <!--<p><span class="glyphicon glyphicon-time"></span> Posteado en {{ article.dateCreation|date("F jS \\a\\t g:ia","America/Bogota")}}</p>-->
                            <hr>
                            <img class="img-responsive center-block" src="{{ article.imageMain }}" alt="">
                            <hr>
                            <p>{{ article.description }}</p>
                            <a class="btn btn-primary" href="{{ path('view_article_generic',{'id_article' : article.id }) }}">Ver Mas <span class="glyphicon glyphicon-chevron-right"></span></a>

                        </div>
                    {% endfor %}
                </div>
            {% else %}
                <h2>No hay Articulos </h2>
            {% endif %}
        {% elseif current_page.idTypePage.id == 2 %}
            <div class="col-lg-12 well">
                <h2>{{ articles.name }}</h2>
                <p class="lead">
                    por <a href="#">{{ articles.creatorUser.username }}</a>
                </p>
                <hr>
                <!--<p><span class="glyphicon glyphicon-time"></span> Posteado en August 24, 2013 at 9:00 PM</p>-->
                <hr>
                <img class="img-responsive center-block" src="{{ articles.imageMain }}" alt="">
                <hr>
                <div class="container-content-html-tinymce">
                    {{ articles.contentHTML|raw }}
                </div>
                <hr>
            </div>
        {% endif %}
    {% endif %}

    {% block body %}
    {% endblock %}
</div>
