<!DOCTYPE html>
<html lang="en">

<head>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="author" content="">
	<meta name="google-site-verification" content="_hpv0f9-CGCdMaboa-qB2vX44_gSbpdcsGMaBWwXn5I" />

	<title> {{ parameters.name_site }} {% block title %} {% endblock %}</title>

	<!-- Bootstrap Core CSS -->
	<link href="{{ asset('themes/' ~ theme.slug ~ '/css/bootstrap.min.css') }}" rel="stylesheet">
	<link href="{{ asset('themes/' ~ theme.slug ~ '/css/font-awesome.min.css') }}" rel="stylesheet">

	<!-- Custom CSS -->
	<link href="{{ asset('themes/' ~ theme.slug ~ '/css/shop-homepage.css') }}" rel="stylesheet">
	<link href="{{ asset('css/jssor/style.css') }}" rel="stylesheet">

	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->

	<link rel="icon" type="image/x-icon" href="{{ asset(parameters.favicon_site) }}" />

	<style type="text/css">
		.backgrundBody{
			{% if parameters.image_background.ifShow %}
				background-image : url('{{ parameters.image_background.path }}') ;
			{% endif %}
			background-repeat: no-repeat;
			background-attachment: fixed;
			background-size: 100% 100%;
		}
		#mapa {
			height: 150px;
			margin-bottom: 15px;
		}
		h1,h2,h3,h4,h5,h6{
			font-weight: bold;
			color: {{parameters.colors[0]}} {{"!important"}};
		}
	</style>


	{% block stylesheets %}{% endblock %}

</head>

<body class="backgrundBody">

		<div class="container">

			<div>
				<div class="col-md-8 col-sm-8 col-lg-8">
				    <img class="img-responsive" src="{{ asset(parameters.logo_site) }}" alt="logo" height="85%" width="50%" />
				</div>
				<!--<div class="col-md-4 col-sm-4 col-lg-4 subtitulo">
				    <center><p>Empresa de Servicios Públicos de Viotá</p></center>
				</div>-->
				<div class="col-md-4 col-sm-4 col-lg-4" style="font-size: 20px;">
				    <center><img class="img-responsive" src="{{ parameters.image_header.path }}" alt="naturaleza" width="90%" /></center>
				</div>
				<div class="col-md-12 col-sm-12 col-lg-12">
					<nav class="navbar navbar-default">
						<div class="container-fluid">
							<!-- Brand and toggle get grouped for better mobile display -->
							<div class="navbar-header">
								<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
									<span class="sr-only">Toggle navigation</span>
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>
								</button>
								<a class="navbar-brand" href="#"></a>
							</div>
							{% include 'themes/' ~ theme.slug ~ '/partials/menu.html.twig' with {'cmsStzefMenuses': cmsStzefMenuses} %}
						</div>
					</nav>
				</div>
			</div>

			<!-- Page Content -->

			<div class="container-fluid">

				{% block body %}

                {% endblock %}

			</div>

		</div>
		<!-- /.container -->


		<template>
			{% if sectionsTheme is defined %}
				{% for sectionTheme in sectionsTheme %}
					<section data-to-section="{{ sectionTheme.selectorCss }}" >
						{% for modulo in sectionTheme.modulos %}
							<div>
								{{ modulo.renderContentHtml|raw }}
							</div>
						{% endfor %}
					</section>
				{% endfor %}
			{% endif %}
		</template>
		<!-- /.container -->


		<div id="pie" class="">
			<!-- Footer -->
			<footer>
				<div class="row">
					<div class="col-lg-12 text-center" style="padding-right: 15px;padding-left: 15px;">
						<h6>Copyright &copy; Diseñado por: <a href="{{parameters.design_developed.link}}" target="_blank">{{ parameters.design_developed.name }}</a> </h6>
					</div>
				</div>
			</footer>
		</div>
		<script src="{{ asset('js/polyfill-foreach.js') }}"></script>

		<!-- jQuery -->
		<script src="{{ asset('themes/' ~ theme.slug ~ '/js/jquery.js') }}"></script>

		<!-- Bootstrap Core JavaScript -->
		<script src="{{ asset('themes/' ~ theme.slug ~ '/js/bootstrap.min.js') }}"></script>

		<script type="text/javascript">
			var template = $("template")[0]
			var clone_template = template.content.cloneNode(true)
			var section = clone_template.querySelectorAll("[data-to-section]")

			section.forEach(section => {
				var selector = "#" + $(section).data("to-section")
				$(selector).html($(section).html())
			})
		</script>

		<script>
			function initMap() {
				// Create a map object and specify the DOM element for display.
				var pos = {lat: {{ parameters.config_gmap.center.lat }}, lng: {{ parameters.config_gmap.center.lng }}}
				var map = new google.maps.Map(document.getElementById('mapa'), {
					center: pos,
					scrollwheel: {{ (parameters.config_gmap.scrollwheel) ? 'true' : 'false' }},
					zoom: {{ parameters.config_gmap.zoom }}
				});

				var marker = new google.maps.Marker({
					position: pos,
					map: map,
					title: ''
				});

			}
		</script>

		<script src="{{ asset('js/jssor/jssor.slider-22.2.16.min.js') }}" type="text/javascript"></script>


		<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBKSeKDQqN8p8bZfQJL98WqTtNrAHZumcg&callback=initMap"async defer></script>

	{% block javascripts %}{% endblock %}
</body>

</html>
